.react-logo {
  width: 100px;
  height: 100px;
  top: 15px;
  left: 10px;
  position: relative;
}

.react-fsm {
  width: 180px;
  height: 300px;
  position: relative;
}

.logo {
  background-image: url("./screenshots/logo.png");
  background-repeat: no-repeat;
  background-size: 126px 100px;
  bottom: 20px;
  height: 100px;
  position: absolute;
  right: 20px;
  width: 126px;
}
